# 02_DataFrame的查、改、增、删操作

In [7]:
import pandas as pd
import numpy as np

*新建DataFrame, 使用dict和index.*

In [10]:
s1 = np.random.randn(5)
s2 = [True, True, False, True, False]
s3 = ['Apple', 'Banana', 'Tomato', 'Bean', 'Rice']
index = list('abcde')

# Dict with added column names
data = {'Randnum': s1, 'IsBool': s2, 'Name': s3}
df = pd.DataFrame(data, index=index)
df

    Randnum  IsBool    Name
a -0.199110    True   Apple
b -1.080745    True  Banana
c  0.746909   False  Tomato
d  1.352356    True    Bean
e -0.346008   False    Rice

In [12]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
df.columns

Index(['Randnum', 'IsBool', 'Name'], dtype='object')

## 2.1 查看

### 2.1.1 基于索引

*基于索引查看 列*

In [16]:
df['Randnum'] # 取得单列

a   -0.199110
b   -1.080745
c    0.746909
d    1.352356
e   -0.346008
Name: Randnum, dtype: float64

In [18]:
df[['Randnum', 'Name']] # 取得多列

    Randnum    Name
a -0.199110   Apple
b -1.080745  Banana
c  0.746909  Tomato
d  1.352356    Bean
e -0.346008    Rice

*基于索引查看 行*

In [30]:
index1 = df.index == 'c' # 花式索引直接取得单行
df[index1]

    Randnum  IsBool    Name
c  0.746909   False  Tomato

In [29]:
index1 = df.index != 'c' # 花式索引直接取得多行
df[index1]

    Randnum  IsBool    Name
a -0.199110    True   Apple
b -1.080745    True  Banana
d  1.352356    True    Bean
e -0.346008   False    Rice

In [25]:
df.loc['a'] # 基于索引取得单行

Randnum   -0.19911
IsBool        True
Name         Apple
Name: a, dtype: object

In [32]:
df.loc[['a', 'c']] # 基于索引取得多行

    Randnum  IsBool    Name
a -0.199110    True   Apple
c  0.746909   False  Tomato

*用逗号将索引隔开，可以同时限定行和列*

In [55]:
#df['c', 'Randnum'] # 错误！
#df[2, 'Randnum'] # 错误！
df.loc['c', 'Randnum'] # 正确

0.7469092096044273

In [42]:
df.loc[['c', 'a'], ['Randnum', 'Name']] # 基于索引取得 多行多列， 注意c和a的行顺序倒了！

    Randnum    Name
c  0.746909  Tomato
a -0.199110   Apple

In [51]:
df.loc['a':'c', ['Randnum', 'Name']] # 基于索引取得 多行多列， 行、列索引也可以用范围

    Randnum    Name
a -0.199110   Apple
b -1.080745  Banana
c  0.746909  Tomato

In [53]:
df.loc['c':'a', ['Randnum', 'Name']] # 基于索引取得 多行多列， 注意c和a的行顺序倒了，结果为空

Empty DataFrame
Columns: [Randnum, Name]
Index: []

In [57]:
df.loc[:, ['Randnum', 'Name']] # 基于索引取得 多行多列

    Randnum    Name
a -0.199110   Apple
b -1.080745  Banana
c  0.746909  Tomato
d  1.352356    Bean
e -0.346008    Rice

### 2.1.2 基于位置

In [61]:
df

    Randnum  IsBool    Name
a -0.199110    True   Apple
b -1.080745    True  Banana
c  0.746909   False  Tomato
d  1.352356    True    Bean
e -0.346008   False    Rice

*单个位置，或位置范围，默认取得行，但返回类型不同！*

In [69]:
df.iloc[2] # 基于位置，默认取得行

Randnum    0.746909
IsBool        False
Name         Tomato
Name: c, dtype: object

In [72]:
type(df.iloc[2]) # 基于位置，默认取得行，返回Series

pandas.core.series.Series

In [71]:
df.iloc[2:3] # 基于位置范围，默认取得行

    Randnum  IsBool    Name
c  0.746909   False  Tomato

In [73]:
type(df.iloc[2:3]) # 基于位置范围，默认取得行，返回DataFrame

pandas.core.frame.DataFrame

*基于位置，取得列，需要使用逗号隔开*

In [79]:
#df.iloc[,2] # 错误！
df.iloc[:,2] # 正确

a     Apple
b    Banana
c    Tomato
d      Bean
e      Rice
Name: Name, dtype: object

In [80]:
df.iloc[[0,2],1:2]

   IsBool
a    True
c   False